<h1><%= pluralize(@movies.size, 'Movie')%></h1>
  <% @movies.each do | movie| %>

<article>
  <header>
    <h2> <%= link_to(movie.title, movie) %></h2>
  </header>
</article>
<p>
  <%= truncate(movie.description, separator: ' ') %>
</p>
<table>
  <tr>
    <th>Rating:</th>
    <td><%= movie.rating %></td>
  </tr>
  <tr>
    <th>Released On:</th>
    <td><%= movie.released_on %></td>
  </tr>
  <tr>
    <th>Total Gross:</th>
    <td><%= format_total_gross(movie) %></td>
  </tr>
</table>
<% end %>